<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
  <%= @list.name %>
</div>

<div class="d-flex align-items-center mt-2">
  <%= link_to "Back to Lists", lists_path, class: "text-light text-docoratio-none mx-3"  %>
  <%= link_to list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Remove #{@list.name}?" } do %>
      <i style="font-size: 15px;" class="fa-solid fa-minus text-light"></i>
  <% end %>
</div>

<div class="d-flex-column mx-5">

  <% unless @list.movies  %>
    <div class="mt-2">
      <div class="card-product">
        <img src=<%= @list.movies.first.poster_url %>/>
        <div class="card-product-infos">
          <h2><%= @list.movies.first.title %></h2>
          <p><%= @list.movies.first.overview %></p>
          <p>Audience Rating - <strong><%= @list.movies.first.rating %></strong></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="cards mt-3">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="mt-2">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
          <div class="d-flex align-items-center">
            <div>
              <div class="d-flex justify-content-between align-items-center">
                <i style="font-size: 15px;" class="fa-solid fa-star text-info"> <%= bookmark.movie.rating %></i>
                <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Remove #{bookmark.movie.title}?" },   class: 'mx-2' do %>
                  <i style="font-size: 15px;" class="fa-solid fa-minus text-light"></i>
                <% end %>
              </div>
              <h2 class="d-block"><%= bookmark.movie.title %></h2>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>

  <div class="ml-0 mr-0">
    <%= render '/bookmarks/new' %>
  </div>

  <div class="d-flex align-items-center mt-2">
    <%= link_to "Back to Lists", lists_path, class: "text-dark text-docoratio-none mx-3"  %>
  </div>
</div>
